body{
    margin: 0;
    padding: 0;
    background-color: #95cdbc;
}
#game{

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



#window {
    width: 766px;
    height: 450px;
    border: 3px solid black;
    margin: 5px;
    position: relative;
    margin-bottom: 13px;
}




#items{
    display: inline-flex;
}

#score{
    width: 115px;
    height: 118px;
    margin-left: 6px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Biting My Nails";
    font-size: 25px;
    margin-right: 545px;
    color: white;
}
/*character-1*/
/*
#character{
    width: 75px;
    height: 150px;
    position: absolute;
    bottom: 50px;
}

*/
/*character-2*/
#character {
    width: 126px;
    height: 150px;
    position: absolute;
    bottom: 29px;
    left: 15px;
}
#jumpedCharacter{
    width: 126px;
    height: 150px;
    position: absolute;
    bottom: 120px;
    left: 15px;
    animation: jumping 2s 1;

}
@keyframes jumping {
    0% {
        bottom: 120px;
    }
    100% {
        bottom: 29px;
    }
}

img#characterImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img#scoreBackground{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 10px;
}
img#gameBackground{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
img#trapImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#scoreNumber{
    position: absolute;
}
#trap {
    width: 80px;
    height: 50px;
    /*background-color: #FF013C;*/
    position: absolute;
    right: 0;
    bottom: 55px;
    animation: trapAnimation 3s infinite;
}


@keyframes trapAnimation {
    0% {
        right: 0px;

    }

    5% {
        right: 35px;

    }
    10% {
        right: 70px;

    }
    15% {
        right: 105px;

    }
    20% {
        right: 140px;

    }
    25% {
        right: 175px;

    }
    30% {
        right: 210px;

    }
    35% {
        right: 245px;

    }
    40% {
        right: 280px;

    }
    45% {
        right: 315px;

    }

    50% {
        right: 350px;

    }
    55% {
        right: 385px;

    }
    60% {
        right: 420px;

    }
    65% {
        right: 455px;

    }
    70% {
        right: 490px;

    }
    75% {
        right: 525px;

    }
    80% {
        right: 560px;

    }
    85% {
        right: 595px;

    }
    90% {
        right: 630px;

    }
    95% {
        right: 665px;

    }
    100% {
        right: 700px;
    }
}


.button-49,
.button-49:after {
    cursor: pointer;
    width: 150px;
    height: 76px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'Bebas Neue', "Saucer BB";
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media (min-width: 768px) {
    .button-49,
    .button-49:after {
        width: 100px;
        height: 85px;
        line-height: 88px;

    }
}